@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

:root {
    --transparencia: linear-gradient(-45deg, black, hsla(0, 0%, 100%, 0));
    --gradient: linear-gradient(-90deg, #d3c910b0, rgba(4, 108, 16, 0.663), rgba(15, 15, 110, 0.663));
}

fieldset {
    background: var(--gradient);
    background-size: 400% 400%; /* ESSENCIAL PARA ANIMAR O GRADIENTE */
    animation: gradientAnimation2 10s ease infinite alternate;
    margin-top: 45%;
}

.cor--branca {
    color: white;
}

.centralizar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

body {
  background-color:  #C7BCA1;
 font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  padding:0;
  margin:0;
  width: 100%;
  font-size: 25px;

}

@keyframes gradientAnimation2 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

input {
    padding: 10px;
}

button {
    background: none;
    padding: 10px;
    margin-top: 20px;
    border: solid 1px white;
    font-size: 1.5rem;
    transition: 1s;
    border-radius: 10%;
}

button:hover {
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 10%;
}